<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1 style="color: green;">Welcome to homepage of {{name}}</h1>
    {{#each productList}}
        <img src="images/{{img}}" width="112" height="115"> <br>
        {{name}}
        <br><br>
    {{/each}}
    
</body>
<script>
    for(i=0;i<1;i++){
        alert('Hey hello')
    }
    
</script>
</html>