<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h1>This is Student page</h1>
    
    <form action="/registerLunch" method="post">
        Name : <input type="text" name="txtName">
        <br>
        Choosing Food
        <select name="food">
            {{#each foods}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </form>
    <br>
    <input type="submit" value="Dang ky!">

    <a href="/">Home page</a>
</body>
</html>